.modal-dialog
  .modal-content
    form.s-new-folder-select-form
      .modal-header
        button.close(data-dismiss="modal", aria-hidden="true", type="button") &times;
        - var t = type === 'new-file' ? 'directory' : type;
        - var name = title ? ' for "' + title + '"' : '';
        if value && value.name
          - value = value.name()
        h4.modal-title
          | Select a #{t}#{name}
      .modal-body(
        data-target-id=id)
        .alert.alert-danger.s-modal-error.hidden
        .s-hierarchy-widget

        .form-group
          label.control-label(for='s-new-folder-name') Selected Folder
          if (type === 'new-directory')
            input#s-new-folder-name.form-control(type='text', value=value, placeholder='Please give a for output')
          else
            p Select a input folder by click check box
//      if type === 'directory' || type === 'new-file'
//        .modal-footer
//          a.btn.btn-small.btn-default(data-dismiss="modal") Cancel
//          button.s-select-button.btn.btn-small.btn-primary(type="submit")
//            i.icon-edit
//            | Save
